body {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: greenyellow;
    grid-area: header;
}

nav {
    background-color: aqua;
    grid-area: nav;
}

section {
    background-color: darkorchid;
    grid-area: section;
}

aside {
    background-color: goldenrod;
    grid-area: aside;
}

footer {
    background-color: orangered;
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'nav section section section section aside'
    'footer footer footer footer footer footer';
}

header, footer {
    height: 150px;
}

nav, section, aside {
    height: 500px;
}