body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    width: 450px;
}

a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    width: 50%;
    margin-bottom: 2px;
}
