body {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: greenyellow;
}

nav {
    background-color: aqua;
}

section {
    background-color: darkorchid;
}

aside {
    background-color: goldenrod;
}

footer {
    background-color: orangered;
}

header { grid-area: header; }
nav { grid-area: nav; }
section { grid-area: section; }
aside { grid-area: aside; }
footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'nav section section section section aside'
    'footer footer footer footer footer footer';
}

header, footer {
    height: 150px;
}

nav, section, aside {
    height: 500px;
}