a {
background-color: grey;
font-weight: bold;
/* border: none; */
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
border-style: solid;
border-left-color: darkgray;
border-top-color: darkgray;
border-bottom-color: black;
border-right-color: black;
}

a:active {
    filter: invert(1);
}
  