/* pink! */
@import url('https://fonts.cdnfonts.com/css/cute');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Cute', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(#EC7699, #DAD2F3);
}

#topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: pink;
    color: white;
}

#topNav li {
    list-style-type: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.logo {
    font-size: 32px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #e96088;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

.artistsList {
    position: relative; 
}

.dropdown {
    background-color: #e96088;
    padding: 1em 0;
    position: absolute;
    transform: translate(-60%, -5%);
    display: none;
    border-radius: 8px;
    top: 35px;
    z-index: 1;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #e33367;
}

.artistsList:hover .dropdown {
    display: block;
}

input[type=checkbox]{
    display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

footer {
    background-color: pink;
    background: pink;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    color: pink;
    position: fixed;
}

h2 {
    background-color: #74d7ec;
    color: white;
    border-radius: 25px;
    margin-left: 1%;
    padding-left: 5px;
    font-size: 2em;
    width: auto;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

h3 {
    font-size: 1.8em;
}

#mainContent {
    margin-top: 30px;
    width: 100%;
    color: #3a243b;
    padding-bottom: 4%;
}

.center-artist {
    display: flex;
    justify-content: center;
}

#radio {
    text-align: center;
}

#imgContainer {
    position: relative;
    text-align: center;
    color: white;   
    margin-top: -30px; 
}

#artistsAnchor {
    text-decoration: none;
    color: white;
    background-color: violet;
    border-radius: 20px;
    padding: 1%;
}

#artists p {
    font-size: 2em;
}

#artists img, #artistPfp {
    border-radius: 100%;
}

#elemsOverImg {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    padding: 1%;
}

img[alt="homeImg"] {
    width: 100%;
}

article {
    border-radius: 25px;
    border: 4px solid #ffedff;
    padding: 20px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    filter: brightness(100%);
    background: rgba(0, 0, 0, 0);
    transition: all 0.5s ease;

}

article:hover {
    filter: brightness(90%);
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

article:active {
    border: 4px solid #a1ffff;
}

.home-grid-container a {
    text-decoration: none;
    color: #3a243b;
    font-size: 1.5em;
}

#artistPfp {
    grid-area: artistPfp;
}

#artistName {
    grid-area: artistName;
    font-size: 2.2em;
}

#artistInfo {
    grid-area: artistInfo;
    list-style: none;
}

#artistBio {
    grid-area: artistBio;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.artist-grid-container {
    border-radius: 25px;
    border: 4px solid #ffedff;
    width: 50%;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 1%;
    justify-items: center;
    font-size: 1.5em;
    color: #3a243b;    
    animation: fadeIn 0.7s;
}

.news-grid-container {
    grid-gap: 20px;
    width: 80%;
    margin-left: 12%;
}

.news-grid-container > * {
    border: 4px solid #ffedff;
    border-radius: 10px;
    padding-top: 5%;
    margin: 0 3% 1% 3%;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: rebeccapurple;
}

.news-grid-container h3 {
    background-color: white;
    max-width: fit-content;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 2%;
}

.news-grid-container img, .news-grid-container iframe {
    border-radius: 10px;
}

#backToTop {
    text-decoration: none;
    font-size: 2em;
    margin-right: 1%;
    margin-bottom: 3%;
    float: right;
    color: white;
    background-color: mediumslateblue;
    border-radius: 25px;
    padding: 3px;
}

@media only screen and (min-width: 1000px) {
    .home-grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'auto auto auto';
    }

    .artist-grid-container {
        display: grid;
        grid-template-areas: 
        'artistName artistName '
        'artistPfp artistInfo'
        'artistBio artistBio';        
    }

    #imgContainer {
        font-size: 2.5em;
    }

    .news-grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 1000px) {
    .home-grid-container {
        display: grid;
        grid-template-columns: auto auto;        
    }

    .home-grid-container a{
        margin-bottom: 2%;
    }

    #artistPfp, #artistName {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .artist-grid-container {
        width: 75%;
    }

    #imgContainer {
        font-size: 1.7em
    }

    .news-grid-container {
        display: grid;
        grid-template-columns: auto;
    }

    .news-grid-container > * {
        margin: 0.5%;
    }
}

@media only screen and (max-width: 800px) {
    #imgContainer {
        font-size: 120%;
    }
}

@media only screen and (max-width: 768px) {
    .menu { 
        display:none;
        position: absolute;
        background-color:#e96088;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 1;
    }

    .menu li:hover {
        display: inline-block;
        background-color:#e33367;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(1%);
    }

    .dropdown li:hover {
        background-color: #e33367;
    }
}

@media only screen and (max-width: 680px) {
    .news-grid-container {
        margin: 2%;
    }

    .news-grid-container img, .news-grid-container iframe {
        width: 80%;
    }
}