/* pink! */
@import url('https://fonts.cdnfonts.com/css/cute');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Cute', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(#EC7699, #DAD2F3);
}

#topNav {
    background-color: pink;
    text-align: center;
    /* overflow: hidden; */
    font-size: 1.3em;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

footer {
    background-color: pink;
    background: pink;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    color: pink;
    position: fixed;
}

#topNav > p {
    float: left;
    margin-top: 0;
    font-size: 1.5em;
    margin-bottom: 0;
}

nav > * {
    display: inline;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
}

#menuIcon {
    filter: brightness(0) invert(1);
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px;
    float: right;
    padding-right: 1%;
}

h2 {
    background-color: #74d7ec;
    color: white;
    border-radius: 25px;
    margin-left: 1%;
    padding-left: 5px;
    font-size: 2em;
    width: auto;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

h3 {
    font-size: 1.8em;
}

#mainContent {
    margin-top: 30px;
    width: 100%;
    color: #3a243b;
    padding-bottom: 4%;
}

.center-artist {
    display: flex;
    justify-content: center;
}

#radio {
    text-align: center;
}

#imgContainer {
    position: relative;
    text-align: center;
    color: white;    
}

#artistsAnchor {
    text-decoration: none;
    color: white;
    background-color: violet;
    border-radius: 20px;
    padding: 1%;
}

#artists p {
    font-size: 2em;
}

#artists img, #artistPfp {
    border-radius: 100%;
}

#elemsOverImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    padding: 1%;
}

img[alt="homeImg"] {
    width: 100%;
}

article {
    border-radius: 25px;
    border: 4px solid #ffedff;
    padding: 20px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    filter: brightness(100%);
    background: rgba(0, 0, 0, 0);
    transition: all 0.5s ease;

}

article:hover {
    filter: brightness(70%);
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.home-grid-container a {
    text-decoration: none;
    color: #3a243b;
    font-size: 1.5em;
}

#artistPfp {
    grid-area: artistPfp;
}

#artistName {
    grid-area: artistName;
    font-size: 2.2em;
}

#artistInfo {
    grid-area: artistInfo;
    list-style: none;
    /* text-align: center; */
}

#artistBio {
    grid-area: artistBio;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.artist-grid-container {
    border-radius: 25px;
    border: 4px solid #ffedff;
    width: 50%;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 1%;
    justify-items: center;
    font-size: 1.5em;
    color: #3a243b;    
    animation: fadeIn 0.7s;
}

.news-grid-container {
    grid-gap: 20px;
    width: 80%;
    margin-left: 12%;
}

.news-grid-container > * {
    border: 4px solid #ffedff;
    border-radius: 10px;
    padding-top: 5%;
    margin: 0 3% 1% 3%;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: rebeccapurple;
}

.news-grid-container h3 {
    background-color: white;
    max-width: fit-content;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 2%;
}

.news-grid-container img, .news-grid-container iframe {
    border-radius: 10px;
}

#backToTop {
    text-decoration: none;
    font-size: 2em;
    margin-right: 1%;
    margin-bottom: 3%;
    float: right;
    color: white;
    background-color: mediumslateblue;
    border-radius: 25px;
    padding: 3px;
}

@media only screen and (min-width: 1000px) {
    #menuIcon {
        display: none;
    }

    .home-grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'auto auto auto';
    }

    .artist-grid-container {
        display: grid;
        grid-template-areas: 
        'artistName artistName '
        'artistPfp artistInfo'
        'artistBio artistBio';
        
    }

    #imgContainer {
        font-size: 2.5em;
    }

    .news-grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 1000px) {
    nav {
        /* display: none; */
        transform: translate(-100%);
    }

    #menuIconButton:focus ~ nav {
        transform: translate(0%);
        transition: transform 0.5s cubic-bezier(0.9, 0, 0.1, 1);
    }
    /* https://schnerring.net/blog/create-a-modern-css-only-fold-out-burger-menu/ */

    .home-grid-container {
        display: grid;
        grid-template-columns: auto auto;        
    }

    .home-grid-container a{
        margin-bottom: 2%;
    }

    #artistPfp, #artistName {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .artist-grid-container {
        width: 75%;
    }

    #imgContainer {
        font-size: 120%
    }

    .news-grid-container {
        display: grid;
        grid-template-columns: auto;
    }

    .news-grid-container > * {
        margin: 0.5%;
    }
}


